<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcsalesapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GcSaleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GcSalesApp.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.view.DistrutedPlanningActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.MechanicListActivity"
            android:exported="true" />
        <activity android:name=".ui.view.RegisterActivity"
            android:exported="true"/>
        <activity android:name=".ui.view.AddMechanicActivity"
            android:exported="true"/>
        <activity android:name=".ui.view.BaseActivity"
            android:exported="true"/>
        <activity android:name=".ui.view.DealerOrdersActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.view.DealerInteractionActivity"
            android:exported="true"
            android:theme="@style/Theme.GcSalesApp.NoActionBar"/>
        <activity android:name=".ui.view.MonitorDealerActivity" />
        <activity
            android:name=".ui.view.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:theme="@style/Theme.GcSalesApp.NoActionBar" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.GcSalesApp.NoActionBar" />
        <activity
            android:name=".ui.view.SplashActivity"
            android:theme="@style/Theme.GcSalesApp.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TrackingService"
            android:foregroundServiceType="location" />
    </application>

</manifest>